<div class="flex justify-between">
  <h1 class="text-2xl font-bold">{{ product().title }}</h1>
  @if (product().id !== 'new') {
    <button class="btn btn-error" (click)="onDelete()">Delete</button>
  }
</div>
<div class="divider"></div>

<form [formGroup]="productForm" class="grid grid-cols-1 sm:grid-cols-2 gap-4" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">General information</h2>
    <input
      type="text"
      placeholder="Title"
      class="input input-bordered w-full"
      formControlName="title"
      [class.border-red-500]="productForm.get('title')?.invalid"
    />

    <form-error-label [control]="productForm.get('title')!" />

    <input formControlName="slug" type="text" placeholder="Slug" class="input input-bordered w-full"
    [class.border-red-500]="productForm.get('slug')?.invalid"
    />

    <form-error-label [control]="productForm.get('slug')!" />

    <textarea
      class="textarea textarea-bordered w-full"
      placeholder="Description"
      rows="6"
      formControlName="description"
      [class.border-red-500]="productForm.get('description')?.invalid"
    ></textarea>

    <form-error-label [control]="productForm.get('description')!" />

    <h2 class="text-lg font-bold">Sales data</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
        <input
        type="number"
        placeholder="Price"
        class="input input-bordered w-full"
        formControlName="price"
        [class.border-red-500]="productForm.get('price')?.invalid"
      />

      <form-error-label [control]="productForm.get('price')!" />
      </div>

      <div>
        <input
          type="number"
          placeholder="Stock"
          class="input input-bordered w-full"
          formControlName="stock"
          [class.border-red-500]="productForm.get('stock')?.invalid"
        />
        <form-error-label [control]="productForm.get('stock')!" />
      </div>
    </div>

    <!-- tags -->
    <input type="text" placeholder="Tags" class="input input-bordered w-full" formControlName="tags" [class.border-red-500]="productForm.get('tags')?.invalid" />
    <form-error-label [control]="productForm.get('tags')!" />
    <div class="grid grid-cols-4 gap-2">
      <button class="btn btn-sm" type="button" [class.btn-primary]="productForm.get('gender')?.value === 'men'" (click)="onGenderChange('men')">Male</button>
      <button class="btn btn-sm" type="button" [class.btn-accent]="productForm.get('gender')?.value === 'women'" (click)="onGenderChange('women')">Female</button>
      <button class="btn btn-sm" type="button" [class.btn-warning]="productForm.get('gender')?.value === 'kid'" (click)="onGenderChange('kid')">Kids</button>
      <button class="btn btn-sm" type="button" [class.btn-secondary]="productForm.get('gender')?.value === 'unisex'" (click)="onGenderChange('unisex')">Unisex</button>
    </div>


    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button class="btn btn-sm" type="button" [class.btn-primary]="productForm.get('sizes')?.value?.includes(size)" (click)="onSizeChange(size)">{{ size }}</button>
      }
    </div>
  </div>

  <!-- Images -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Save
      </button>
    </div>

    <product-images-carousel [images]="carouselImages()" />

    <input type="file" class="file-input file-input-bordered w-full mt-4" accept="image/*" multiple (change)="onImageFilesChanged($event)" />

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 mt-2">
      @for (image of tempImages(); track image) {
        <img [src]="image" alt="Temp image" class="w-full h-32 object-cover rounded-md" />
      }
    </div>
  </div>
</form>


@if (showSnackbar()) {
  <div class="alert alert-success fixed bottom-4 right-4 w-80 fadeIn" role="alert">
    <span>Product saved successfully</span>
  </div>
}